.Button {
  font-size: 0.8rem;
  align-self: center;
  border-radius: 100px;
  border-color: transparent;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
}

.Button:hover {
  opacity: 0.8;
  border-color: transparent;
  cursor: pointer;
}

.Button:hover:active {
  background-color: #857739;
}

.Button:active {
  background-color: #857739;
}

.Button:focus {
  background-color: #857739;
}

.Wide {
  padding: 10px 50px;
  width: 100%;
}

.Blue,
.BlueOutline:hover,
.Bright:hover {
  background-color: #857739;
  color: #ffffff;
}

.BlueOutline,
.Blue:hover {
  background-color: #ffffff;
  color: #857739;
}

.Black,
.BlackOutline:hover {
  background-color: #838383;
  color: aliceblue;
}

.Black:hover,
.BlackOutline {
  background-color: aliceblue;
  color: #838383;
}

.Bright {
  background-color: #838383;
  color: #fff;
}